body{
    font-family: Arial, sans-serif;
    background-color: rgba(165, 177, 179, 0.618);

}
#title-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: rgb(5, 52, 82);
    font-size: 2em;
    text-align: left;
}
#img-container{
    display: grid;
    grid-template-areas: ". image . ";
    grid-template-columns: 40% 20% 40%;
    
}
#header-img{
    background-color:red;
    grid-area: image;
    border-radius: 2%;
    
    
}
#nav-bar{
    position: sticky;
    top: 0;
    height:3em;
    width: 100vw;
    font-size: 1em;
    background-color:#747b91;
    opacity: .97;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    
}
.nav-link{
    color: rgb(5, 52, 82);
    padding: 0.5em;
}
.nav-link:hover{
    color: rgb(39, 168, 249);
}

#video-container{
    display: grid;
    grid-template-areas: ". video . ";
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
    background-color: aliceblue;
    align-content: center;
    justify-items: center;
    
    
}
#video{
    grid-area: video;
    grid-column: 2 / 4;
    
    
    
}
#email-container{
    margin-top: 10vh;
    text-align: center;
}
#email-label{
    font-size: 1.5em;
    

}
#email{
    width: 11em;
    height: 1.5em;
    font-size: 2.8vh;
}
#email:hover{
    width: 11.1em;
    height: 1.7em;
}
@media only screen and (max-width: 600px) {
    #email-label {
    font-size: 1em;
}
    #email{
        width:8em;
        height: 1em;
    }
    #nav-bar{
        font-size: 0.5em;
    }
    #title-heading{
        font-size: 1.5em;
    }
}

#submit{
    width:10em;
    height: 2em;
    color: rgb(5, 52, 82);
    background-color: #aeb3c2;
    font-size: 1em;
    border-radius: 0.5em;
 
    
}
#submit:hover{
    color: rgb(39, 168, 249);
    width: 10.1em;
    height: 2.1em;
    font-size: 1.05em;
    background-color: rgb(5, 52, 82);
    
}

  